<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <h1>Register</h1>
        <form action="{{ url_for('register') }}" method="post">
            <label for="firstname">Firstname:</label>
            <input type="text" name="firstname" placeholder="First Name" aria-label="First Name" required>

            <label for="middlename">Middlename:</label>
            <input type="text" name="middlename" placeholder="Middle Name" aria-label="Middle Name">

            <label for="lastname">Lastname:</label>
            <input type="text" name="lastname" placeholder="Last Name" aria-label="Last Name" required>

            <label for="idnumber">Phone Number:</label>
            <input type="text" name="idnumber" placeholder="Phone Number" aria-label="ID Number" required minlength="11" maxlength="11" pattern="\d{11}" title="Phone number must be 11 digits">

            <label for="email">Email:</label>
            <input type="email" name="email" placeholder="Email" aria-label="Email" required>

            <label for="school">School/Office:</label>
            <select name="school" id="school" required aria-label="School" onchange="toggleSchoolInput(this)">
                <!-- Dynamically generate the school options from the backend -->
                {% for school in schools %}
                    <option value="{{ school[0] }}">{{ school[1] }}</option>
                {% endfor %}
                <option value="others">Others</option>
            </select>

            <!-- Hidden input for entering the school name if "Others" is selected -->
            <div id="otherSchoolContainer" style="display:none;">
                <label for="otherSchool">Other School/Office:</label>
                <input type="text" name="other_school" id="otherSchool" placeholder="Enter Your Complete School/Office name">
            </div>

            <label for="password">Password:</label>
            <input type="password" name="password" placeholder="Password" aria-label="Password" required>

            <button type="submit">Register</button>
        </form>
        <div class="login-link">
            <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
        </div>
    </div>

    <script>
        // Function to toggle the display of the "Other School" input field
        function toggleSchoolInput(selectElement) {
            const otherSchoolContainer = document.getElementById('otherSchoolContainer');
            if (selectElement.value === 'others') {
                otherSchoolContainer.style.display = 'block'; // Show the input field
            } else {
                otherSchoolContainer.style.display = 'none'; // Hide the input field
            }
        }
    </script>
</body>
</html>